@font-face {
    font-family: Gen Jyuu Gothic;
    src: url("../fonts/GenJyuuGothic-Normal.ttf");
}

body {
    background-color: #A3D9EA;
    width: 100vw;
    height: 100vh;
    font-family: Gen Jyuu Gothic, serif;
    font-style: normal;
}

.red {
    color: #B41A3F;
}

.green {
    color: #00391E;
}

.icon {
    width: 32px;
    height: 32px;
}

.btn-red {
    background-color: #B41A3F;
}

.btn-green {
    background-color: #00913A;
}

.btn-style {
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

img {
    vertical-align: unset !important;
}

.panel-color-green {
    background: linear-gradient(90deg, #E6F1D5 0%, #C1DB86 100%);
}

.panel-color-orange {
    background: linear-gradient(90deg, #FFFBCF 0%, #FCD89A 100%);
}

@media screen and (min-width: 1440px) {
    .bg-1 {
        object-fit: contain;
        width: 94.5%;
        height: 86%;
        position: absolute;
        top: 14%;
        left: 3%;
    }

    .bg-2 {
        object-fit: contain;
        width: 100%;
        height: 83%;
        position: absolute;
        top: 14%;
        left: 0;
    }

    .logo {
        width: 36%;
        min-width: 566px;
        height: 22%;
        min-height: 264px;
    }

    .question-panel {
        position: relative;
        width: calc(65% - 16px);
        min-width: 948px;
        box-shadow: 0 0 0 8px #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .content {
        position: relative;
        padding: 130px 24px 20px 24px;
        height: calc(100% - (6.3% + 59px) - 10px);
        width: 100%;
        overflow-y: auto;
    }

    .content > .row > .txt-1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
    }

    .content > .row > .txt-2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
    }

    .instruction-banner {
        position: absolute;
        width: calc(100% + 48px);
        height: 98px;
        top: 31px;
        left: -24px;
        background: #4CB134;
    }

    .instruction-banner::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 16px;
        height: 100px;
        background-image: url("../img/img_great_left_2.svg");
        background-size: cover;
    }

    .instruction-banner::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -100px;
        width: 16px;
        height: 100px;
        background-image: url("../img/img_great_right_2.svg");
        background-size: cover;
    }

    .question-banner {
        position: absolute;
        width: calc(45% + 24px - 40px);
        height: 98px;
        top: 31px;
        left: -24px;
        background-color: #F5A517;
    }

    .question-banner::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 16px;
        height: 100px;
        background-image: url("../img/img_great_left_ora_2.svg");
        background-size: cover;
    }

    .question-banner::after {
        content: "";
        position: absolute;
        right: -40px;
        top: 0;
        width: 40px;
        height: 100%;
        background-image: url("../img/img_arrow_orange_right.svg");
        background-size: 40px 100%;
    }

    .start-btn {
        text-align: center;
        width: 290px;
        height: 80px;
        border-radius: 100px;
        font-size: 48px;
        line-height: 80px;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .options > .txt {
        user-select: none;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #5B1D12;
    }

    .question > .txt {
        user-select: none;
        font-weight: bold;
        font-size: 40px;
        line-height: 59px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
    }

    .hint {
        width: 29.7%;
        min-width: 429px;
        height: 22.2%;
        min-height: 228px;
        background: linear-gradient(0deg, #9ED3C0 0%, #EEF6E5 100%);
        border: 6px solid #006149;
        box-sizing: border-box;
        border-radius: 30px;
    }

    .correct-txt {
        font-weight: bold;
        font-size: 60px;
        line-height: 89px;
        text-align: right;
        color: #CF4B52;
    }

    .correct-info {
        min-width: 545px;
        min-height: 102px;
        background: #D53C67;
        border-radius: 100px;
    }

    .wrong-info {
        min-width: 545px;
        min-height: 102px;
        background: #3E3A39;
        border-radius: 100px;
    }

    .correct-info-txt {
        font-weight: bold;
        font-size: 60px;
        line-height: 102px;
        text-align: center;
        color: #FFFFFF;
    }

    .result-info-txt {
        font-weight: bold;
        font-size: 40px;
        line-height: 59px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
    }

    .result-content {
        padding: 24px 200px 20px 200px!important;
    }

    .correct-icon {
        width: 201px;
        height: 156px;
    }

    .wrong-icon {
        width: 129px;
        height: 129px;
    }
}

@media screen and (max-width: 1439px) {
    .bg-1 {
        object-fit: cover;
        width: 100%;
        height: 86%;
        position: absolute;
        top: 14%;
        left: 0;
    }

    .bg-2 {
        object-fit: cover;
        width: 100%;
        height: 83%;
        position: absolute;
        top: 14%;
        left: 0;
    }

    .logo {
        width: 36%;
        height: 22%;
        min-width: 180px;
        min-height: 95px;
    }

    .question-panel {
        position: relative;
        width: calc(84.3% - 16px);
        min-width: 270px;
        box-shadow: 0 0 0 8px #FFFFFF;
        box-sizing: border-box;
        border-radius: 40px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .content {
        position: relative;
        padding: 110px 24px 20px 24px;
        height: calc(100% - (6.3% + 59px) - 10px);
        width: 100%;
    }

    .content > .row > .txt-1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }

    .content > .row > .txt-2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }

    .instruction-banner {
        position: absolute;
        width: calc(100% + 40px);
        height: 49px;
        top: 41px;
        left: -20px;
        background-color: #4CB134;
    }

    .instruction-banner::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -70px;
        width: 12px;
        height: 70px;
        background-image: url("../img/img_great_left_2.svg");
        background-size: 12px 70px;
    }

    .instruction-banner::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -70px;
        width: 12px;
        height: 70px;
        background-image: url("../img/img_great_right_2.svg");
        background-size: 12px 70px;
    }

    .question-banner {
        position: absolute;
        width: calc(50% + 20px);
        min-width: 230px;
        height: 49px;
        top: 41px;
        left: -20px;
        background-color: #F5A517;
    }

    .question-banner::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -69px;
        width: 12px;
        height: 70px;
        background-image: url("../img/img_great_left_ora_2.svg");
        background-size: 12px 70px;
    }

    .question-banner::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 0;
        width: 21px;
        height: 49px;
        background-image: url("../img/img_arrow_orange_right.svg");
        background-size: 21px 49px;
    }

    .start-btn {
        text-align: center;
        width: 145px;
        height: 40px;
        border-radius: 50px;
        font-size: 28px;
        line-height: 40px;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .options > .txt {
        user-select: none;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #5B1D12;
    }

    .question > .txt {
        user-select: none;
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
    }

    .hint {
        width: 35.2%;
        min-width: 120px;
        height: 13.4%;
        min-height: 80px;
        background: linear-gradient(0deg, #9ED3C0 0%, #EEF6E5 100%);
        border: 6px solid #006149;
        box-sizing: border-box;
        border-radius: 30px;
    }

    .hint > * > img {
        width: 64px;
        height: 50px;
    }

    .correct-txt {
        font-weight: bold;
        font-size: 40px;
        line-height: 59px;
        text-align: right;
        color: #CF4B52;
    }

    .correct-info {
        min-width: 240px;
        min-height: 45px;
        background: #D53C67;
        border-radius: 100px;
    }

    .wrong-info {
        min-width: 240px;
        min-height: 45px;
        background: #3E3A39;
        border-radius: 100px;
    }

    .correct-info-txt {
        font-weight: bold;
        font-size: 27px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
    }

    .result-info-txt {
        font-weight: bold;
        font-size: 20px;
        line-height: 59px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
    }

    .result-content {
        padding: 24px 12px 20px 12px!important;
    }

    .correct-icon {
        width: 100px;
        height: 78px;
    }

    .wrong-icon {
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 420px) {
    .hint {
        max-width: 120px;
        max-height: 80px;
        background: linear-gradient(0deg, #9ED3C0 0%, #EEF6E5 100%);
        border: 6px solid #006149;
        box-sizing: border-box;
        border-radius: 30px;
    }

    .hint > * > img {
        width: 32px;
        height: 25px;
    }

    .correct-txt {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: right;
        color: #CF4B52;
    }
}

@media screen and (max-width: 600px) {
    .content > .row > .txt-1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .content > .row > .txt-2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

    .options > .txt {
        user-select: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #5B1D12;
    }

    .question > .txt {
        user-select: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}